<!DOCTYPE HTML>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title></title>
  <script>
    var socket;
    window.addEventListener("load", function() {
      connect(function() {
        alert("connection error"); 
      }, closeFunction, function() {
        socket.send(JSON.stringify({"type":"command", "command":"requestFirstChat"}))
      });

      function connect(errorFunction, closeFunction, openFunction) {
        var url = "ws://" + location.host + "/chatsocket";
        socket = new WebSocket(url);
        socket.onmessage = function(event) {
          receiveChat(JSON.parse(event.data)["chats"])
        }
        socket.onclose = closeFunction;
        socket.onerror = errorFunction;
        socket.onopen = openFunction;
      }

      function closeFunction(event) {
        var retry = 0;
        setTimeout(function() {
          var callee = arguments.callee;
          connect(function() {
            retry++;

            if(retry < 3) {
              setTimeout(function() {
                callee();
              }, 3000);
            } else {
              alert("connection error");
            }
          }, null, function() {
            socket.onclose = closeFunction;
          });
        }, 1000);
      };
     
      document.getElementById("chatInput").addEventListener("keydown", function(e) {
        if(e.which == 13) {
          sendChat(e.target.value);
          e.target.value = "";
        }
      }, false);
    }, false);

    function sendChat(text) {
      socket.send(JSON.stringify({"body": text}))
    }

    function receiveChat(chats) {
      chats.forEach(function(chat) {
        var chat_list = document.createElement("li");
        chat_list.innerText = chat["body"];
        document.getElementById("chatField").insertBefore(chat_list, document.querySelector("#chatField :first-child"));
      })
    };
  </script>
</head>
<body>
  <p>Text here:<input type="text" id="chatInput"/></p>
  <ul id="chatField">
  </ul>
</body>
</html>
